<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <title></title>
  </head>
  <body class="container mx-auto">
    <div class="m-4">
      <slot />
    </div>
    <script
      is:inline
      data-collect-dnt="true"
      async
      src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript
      ><img
        src="https://queue.simpleanalyticscdn.com/noscript.gif?collect-dnt=true"
        alt=""
        referrerpolicy="no-referrer-when-downgrade"
      /></noscript
    >
  </body>
</html>
