---
import { Chat } from '../components/chat';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="grid gap-8">
    <h1 class="text-1xl">What does the dude say?</h1>

    <Chat client:only="preact" />
  </main>
</Layout>
